			<footer class="app-footer">
				<div class="container text-center py-3">
				<small class="copyright">Сделано <i class="fa fa-heart" style="color: #fb866a;"></i> <a class="app-link" href="#" target="_blank">Алексей Алёшин</a> для удобства</small>
		       
				</div>
			</footer><!--//app-footer-->
