@page
@using ConvercionPortal.Models
@model ConvercionPortal.Pages.Customers.CustomerListModel
@{
    ViewData["search_holder_text"] = Request.Query.FirstOrDefault(p => p.Key == "searcholders").Value;
    ViewData["search_description_text"] = Request.Query.FirstOrDefault(p => p.Key == "description").Value;
}

<partial name="_CustomerListHeaderPartial.cshtml" />

<div class="tab-content" id="orders-table-tab-content">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
		<div class="app-card-body">
			<div class="table-responsive">
                <table class="table app-table-hover mb-0 text-left">
                    <thead>
						<tr>
							<th class="cell">Id</th>
							<th class="cell">Название</th>
							<th class="cell">Комментарии</th>
							<th class="cell"></th>
						</tr>
					</thead>

                    <tbody>
                        @foreach(Customer customer in Model.Customers)
                        {
                            <tr>
								<td class="cell">@customer.Id</td>
                                <td class="cell">@customer.Name</td>
								<td class="cell"><span class="truncate">@customer.Description</span></td>
								<td class="cell"><a class="btn-sm app-btn-secondary" asp-page="/Customers/Customer" asp-route-ID="@customer.Id">Открыть</a></td>
							</tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
