@model ConvercionPortal.Pages.CainiaoStatuses.EncloseStatusListModel
<div class="row g-3 mb-4 align-items-center justify-content-between">
	<div class="col-auto">
		<h1 class="app-page-title mb-0">Cainiao статусы</h1>
	</div>

	<div class="col-auto">
			<div class="page-utilities">
			<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
				<div class="col-auto">
					<form class="table-search-form row gx-1 align-items-center" method="get" asp-page="/CainiaoStatuses/EncloseAndStatusList">
					    <div class="col-auto">
					        <input type="text"  asp-for="SearchEncloseId"  class="form-control search-orders" placeholder="Искать по id">
					    </div>
						<div class="col-auto">
					        <input type="text"  asp-for="SearchEncloseOwnerId"   class="form-control search-orders" placeholder="Искать по owner_id">

					    </div>
						<div class="col-auto">			        
							<select class="form-control" asp-for="SearchTroubleFlag" asp-items="@Model.TroubleFlagOptions">
							   <option value="" default="">TroubleFlag</option>
					    	</select>
							<span asp-validation-for="@Model.TroubleFlagOptions" class="text-danger"></span>
					    </div>
						<div class="col-auto">			        
							<select class="form-control" asp-for="SearchFinishedFlag" asp-items="@Model.FinishedFlagOptions">
							   <option value="" default="">FinishedFlag</option>
					    	</select>
							<span asp-validation-for="@Model.FinishedFlagOptions" class="text-danger"></span>
					    </div>
					    <div class="col-auto">
					        <button type="submit" class="btn app-btn-secondary">Искать</button>
					    </div>
					</form>
					                
				</div><!--//col-->
			</div><!--//row-->
		</div><!--//table-utilities-->
	</div><!--//col-auto-->
</div><!--//row-->
