@page "{EncloseId:int}/{EncloseOwnerId:int}"
@using Data.Models.Cainiao
@model ConvercionPortal.Pages.CainiaoStatuses.EncloseStatusModel


<partial name="_EncloseStatusHeaderPartial.cshtml" model="Model"/>

<div class="tab-content" id="orders-table-tab-content">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
		<div class="app-card-body">
			<partial name="_EncloseStatusTablePartial.cshtml" model="Model"/>
        </div>
    </div>
</div>

