@page "{EncloseId:int}/{EncloseOwnerId:int}"
@using ConvercionPortal.Models
@using Data.Models.Cainiao
@model ConvercionPortal.Pages.CainiaoStatuses.EncloseStatusModel


<partial name="_EncloseStatusHeaderPartial.cshtml" model="Model"/>

<div class="tab-content" id="orders-table-tab-content">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
		<div class="app-card-body">
			<partial name="_EncloseStatusTablePartial.cshtml" model="Model"/>
        </div>
    </div>
</div>

<div class="row g-5 settings-section">
	<nav class="app-pagination">
		<ul class="pagination justify-content-center">
			<li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
			</li>
			<li class="page-item active"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#">Next</a>
			</li>
		</ul>
	</nav>
</div>
